<html>
<head>
{{>head}}
</head>
<body>
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/registerForm">Register</a></li>
         <li><a href="/userdetailsForm">User Details</a></li>
         <li><a href="/feedbackdetailsForm"> Feedback Details</a></li>
           <li><a href="/adminlogout">Logout</a></li>
      </ul>
    </div>
</div>
<br><br><br><br>
 <div class="container">
    <div class="row">
       <div class="col-lg-3 col-md-3 col-sm-4">
          <div class="list-group table-of-contents">
            <a class="list-group-item"  href="/registerForm">Register</a>
            <a class="list-group-item"  href="/userdetailsForm">User Details</a>
            <a class="list-group-item"  href="/feedbackdetailsForm"> Feedback Details</a>
            <a class="list-group-item"  href="/adminlogout">Logout</a>
          </div>
       </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
            <div align="center">
            <H2>{{MSG}} </H2>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-4">
        </div>
   </div>  
 </div>

{{>jsIncludes}}
</body>
</html>