<html>
<head>
{{>head}}
</head>
<body>
 <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/feedbackForm">feedback</a></li>
      </ul>
    </div>
</div>
<br><br><br><br>
 <div class="container">
   <div class="row">
		<div align="center">
		<!-- 	<H2>{{MSG}} </H2> -->
      <br><br>
      <table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Images</th>
      <th>Product Name</th>
      <th>Product Detals</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td> <img src="images/41E1mPSBlUL.jpg" width="100" height="100"></td>
      <td>Product1</td>
      <td>Description Details1</td>
    </tr>
    <tr>
      <td>2</td>
       <td> <img src="images/41Q03DeIGiL.jpg" width="100" height="100"></td>
      <td>Product2</td>
      <td>Description Details2</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td> <img src="images/41E1mPSBlUL.jpg" width="100" height="100"></td>
      <td>Product3</td>
      <td>Description Details3</td>
    </tr>
    <tr class="success">
      <td>4</td>
      <td> <img src="images/SamsungG850.jpg" width="100" height="100"></td>
      <td>Product4</td>
      <td>Description Details4</td>
    </tr>
    <tr class="danger">
      <td>5</td>
      <td> <img src="images/41Q03DeIGiL.jpg" width="100" height="100"></td>
      <td>Product5</td>
      <td>Description Details5</td>
    </tr>
    <tr class="warning">
      <td>6</td>
      <td> <img src="images/SamsungG850.jpg" width="100" height="100"></td>
      <td>Product6</td>
      <td>Description Details6</td>
    </tr>
    <tr class="active">
      <td>7</td>
      <td> <img src="images/canvas-nitro-3-e352.jpg" width="100" height="100"></td>
      <td>Product7</td>
      <td>Description Details7</td>
    </tr>
  </tbody>
</table> 
		</div>
		<br/>
    </div>
 </div>

{{>jsIncludes}}
</body>
</html>